:root {
  --animation-speed: 1s;
  --background-color: #212121;
}
.heart {
   animation: heartbeat var(--animation-speed) infinite;
   user-select: none;
}
.w-md-84{
    width: 84% !important;
}
@keyframes heartbeat {
   0% {
      transform: scale(0.75);
   }

   20% {
      transform: scale(1);
   }

   40% {
      transform: scale(0.75);
   }

   60% {
      transform: scale(1);
   }

   80% {
      transform: scale(0.75);
   }

   100% {
      transform: scale(0.75);
   }
}
*,html,body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.counter {
animation-duration: 1s;
animation-delay: 0s;
}
#counter{
background-image: linear-gradient(
115deg
, rgb(9 97 47) 33.33%, rgb(18 129 65), 33.33%, rgb(18 129 65), 66.66%, rgb(21 179 88) 66.66%);
background-size: 100% 100%;
background-repeat: no-repeat;
}
.bg-success{
background: #128141 !important;
}
.text-success{color: #128141 !important;}
#home{
height: 90vh;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.97) 100%), url('https://www.agrevolution.in/assets/frontend/images/landing/Slider1_web.jpg') no-repeat center center/cover;
}
.border-2{
border-color: rgb(129, 129, 129);
border-style: dashed;
border-width: 2px;
width: 45%;
position: absolute;
z-index: 1;
top: 50%;
left: 78%;
}
.border-3{
border-color: rgb(129, 129, 129);
border-style: dashed;
border-width: 2px;
width: 45%;
position: absolute;
z-index: 1;
top: 50%;
left: 78%;
}
#text-banner{
background: #095a2c;
background-attachment: fixed;
}
.para-content{
line-height: 1.5;padding: 60px 40px;
}
section h2{
    font-weight: bold;
    color: #128141;
    padding: 30px 0 5px 0;
}
.scroll {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.slick-slide {
    margin: 10px
}
.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}
.partner-items div img{
    border-radius: 20px;
} 
.partner-items, .logo-items, .video-link-items{
    overflow-x: hidden;
}
.bg-yellow{
    background: #FFE79D;
}
.border-rad-14{
    border-radius: 14px;
}
.font-12{
    font-size: 12px;
}
.modal-dialog .modal-content{
    box-shadow: none !important;
}
.modal-content{
    background-color: transparent !important;
}
.desktop-d-none{
    display: none !important;
}
#float-button{
    position: fixed;
    bottom: 0%;
}
.card-head-txt{
    font-size: 0.8rem;
}
.card-bottom-txt{
    font-size: 1rem;
    font-weight: bold;
}
.close-float-card{
    position: absolute;top: -4%;z-index: 9;right: -2%;
}
.close-float-card-img{
    background: #fff;border-radius: 50%;padding: 6px;box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.close-float-card-reg{
    position: absolute;top: -2.8%;z-index: 9;right: -2%;
}
.close-float-card-img-reg{
    background: #fff;border-radius: 50%;padding: 6px;box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.card[class*=border]{
    border: none;
}
.text-green2 {
    font-family: 'Roboto', sans-serif;
    color: #27AE60;
    font-weight: 400;
}
.bg-green-dark {
    background: #06592F;
}
.bg-gray{background: #efefef;border-radius: 8px;}
.br-14 {
    border-radius: 14px;
}
.bg-light{background:#eafaeb !important;}
.overflow-x-hidden{overflow-x: hidden !important;}
.card{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.font-13{
    font-size: 12px;
}
#float-card {
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 899;
}
.map-ul span{
  color: #128141;
  font-weight: 600;
  font-size: 1.2rem;
}
.modal-body{
    padding: 0px !important;
}
.br-6{border-radius: 8px;}
.text-success2{color: #33ba7c;}













/* mobile only view */
@media all and (max-width: 768px){
    #home{
        height: 52vh;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.97) 100%), url('https://www.agrevolution.in/assets/frontend/images/landing/Slider1_web.jpg') no-repeat center center/cover;
    }
    .w-md-84{
        width: 100% !important;
    }
    .w-md-25{
        width: 60%;
    }
    .font-1{
        font-size: 22px;
    }
    .para-content{
        padding: 40px 20px !important;
    }
    .width-scroll{
        flex: 0 0 79%;
        max-width: 79%;
    }
    .changebg > h6, .changebg-pink > h6, .changebg-violet > h6{
        padding-top: 5px !important;
    }
    .mobile-d-none{
        display: none;
    }
    .desktop-d-none{
        display: block !important;
    }
    .carousel3-mobile .box{
      width: 280px;
    }
    .pb-xs-5{
      padding-bottom: 5rem !important;
    }
    .media-font{
        font-size: 1.4rem;
    }
}















/* desktop only view */
@media all and (min-width: 768px){
    
}